@using TurkcellFacebookDunyasi.Com.Helpers

<script>
    function chartFaturaKullanim(graphId, dataFaturaKullanimUrl) {
        setTimeout(function () {
            createChartFaturaKullanim(graphId, dataFaturaKullanimUrl);
        }, _animateSpeed * 100);
    }

    function createChartFaturaKullanim(graphId, dataSourceUrl) {
        $("#" + graphId).kendoChart({
            theme: "highContrast",
            seriesHover: "false",
            dataSource: {
                transport: {
                    read: {
                        url: dataSourceUrl,
                        dataType: "json"
                    }
                },
                sort: {
                    field: "year",
                    dir: "asc"
                }
            },

            series: [{
                type: "pie",
                connectors: false,
                labels: {
                    visible: true,
                    format: '{0}%',
                    font: '16px turkcellsaturameditaregular',
                    distance: 10
                },
                field: "value",
                categoryField: "category"

            }],

            chartArea: {
                width: 500,
                height: 335,
                padding: 0,
                margin: { top: 0, left: -120 },
                background: ""
            },
            legend: {
                labels: {
                    font: "normal normal 14px/25px turkcellsaturameditaregular",
                    color: '#c5cff2'
                },
                margin: 0,
                padding: 0,
                offsetX: -110,
                offsetY: 0,
                position: 'right'
            }
        });
    }

    function createChart(graphId, dataUrl) {
        $("#" + graphId).kendoChart({
            theme: $(document).data("kendoSkin") || "default",
            dataSource: {
                transport: {
                    read: {
                        url: dataUrl,
                        dataType: "json"
                    }
                },
                sort: {
                    field: "year",
                    dir: "asc"
                }
            },
            title: {
                text: "",
                visible: false
            },
            legend: {
                position: "top",
                visible: false
            },
            seriesDefaults: {
                type: "area"
            },
            series: [{
                field: "nuclear",
                name: "Nuclear",
                color: "#176de2"
            }, {
                field: "hydro",
                name: "Hydro",
                color: "#68a8ff"
            }],
            categoryAxis: {
                field: "year",
                labels: {
                    rotation: -90,
                    font: '20px turkcellsaturabolita',
                    color: '#ffffff'
                },
                lineColor: "#ffffff"
            },
            valueAxis: {
                labels: {
                    format: "N0",
                    visible: false,
                    font: '20px turkcellsaturabolita',
                    color: '#ffffff'
                },
                majorUnit: 10000
            },
            tooltip: {
                visible: true,
                format: "N0"
            },
            chartArea: {
                background: ""
            }
        });
    }

    function donutFaturaKullanim(graphId, dataFaturaKullanimUrl) {
        setTimeout(function () {
            createDonutFaturaKullanim(graphId, dataFaturaKullanimUrl);
        }, _animateSpeed * 100);
    }

    function createDonutFaturaKullanim(graphId, dataSourceUrl) {
        $("#" + graphId).kendoChart({
            theme: "highContrast",
            seriesHover: "false",
            dataSource: {
                transport: {
                    read: {
                        url: dataSourceUrl,
                        dataType: "json"
                    }
                },
                sort: {
                    field: "year",
                    dir: "asc"
                }
            },

            series: [{
                type: "donut",
                connectors: true,
                labels: {
                    visible: true,
                    format: '{0}%',
                    font: '20px turkcellsaturabolita',
                    distance: 10
                },
                field: "value",
                categoryField: "category"

            }],

            chartArea: {
                width: 600,
                height: 435,
                padding: 0,
                margin: { top: -15, left: -35 },
                background: ""
            },
            legend: {
                labels: {
                    font: "normal normal 14px/25px turkcellsaturameditaregular",
                    color: '#c5cff2'
                },
                margin: 0,
                padding: 0,
                offsetX: -20,
                offsetY: -20,
                position: 'bottom',
                visible: true
            }
        });
    }

    function analysisDetailRender() {
        var dataFaturaKullanimUrl = '@PathHelper.UrlWeb/_tmpData/faturaKullanim.js?v=1';
        var dataFaturaKullaniOzetUrl = '@PathHelper.UrlWeb/_tmpData/faturaKullanimOzeti.js?v=3';

        talkTabClick();
        invoiceTabActive();

        chartFaturaKullanim('dwFaturaKullanim', dataFaturaKullanimUrl);
    }
</script>

<h2>FATURA ÖZETİ</h2>

<section class="invoiceRateTitles">
    <a href="javascript:;" data-url="@PathHelper.UrlWeb/_tmpData/faturaKullanimOzeti.js?v=3" class="active">
        <span class="title" style="font-size:24px;">Kullanım Ücretleri</span>
        <span class="rate" style="font-size:34px">51,45 TL</span>
    </a>
    <a href="javascript:;" data-url="@PathHelper.UrlWeb/_tmpData/faturaKullanimOzeti.js?v=3">
        <span class="title">Tarife ve Paket Ücretleri</span>
        <span class="rate">51,45 TL</span>
    </a>
    <a href="javascript:;" data-url="@PathHelper.UrlWeb/_tmpData/faturaKullanimOzeti.js?v=3">
        <span class="title">Diğer Ücretler</span>
        <span class="rate">51,45 TL</span>
    </a>
    <a href="javascript:;" data-url="@PathHelper.UrlWeb/_tmpData/faturaKullanimOzeti.js?v=3">
        <span class="title">Tahsilatına Aracılık Edilen..</span>
        <span class="rate">51,45 TL</span>
    </a>
    <a href="javascript:;" data-url="@PathHelper.UrlWeb/_tmpData/faturaKullanimOzeti.js?v=3">
        <span class="title">Vergiler, Harçlar vb.</span>
        <span class="rate">51,45 TL</span>
    </a>
</section>

<section class="invoiceDonut">
                

          
    <div id="donut"></div>
       
          
</section>

<ins></ins>

<h3 class="h3_2">KULLANIM DÖNEMLERİ</h3>

<section>
    <div id="chart"></div>
</section>