@model IEnumerable<TurkcellFacebookDunyasi.Core.TransferAmount>
@using TurkcellFacebookDunyasi.Com.Helpers.UrlHelperExtensions

@section scripts
{    
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(function () {
            Sortable("@ViewContext.Controller.ValueProvider.GetValue("controller").RawValue");
        });
    </script>
}

@Helper.BodyNav(Html, "TransferAmount", true)

<section class="panel">
    
    @if (Model != null) {
    <table class="grid">
        <tr>
            <td>

                <ol>
                    <li>
                        <div>&nbsp;</div>
                        <div>@TurkcellFacebookDunyasi.Core.App_GlobalResources.rsrcCommon.TLDespatchAmount</div>
                    </li>
                </ol>

            </td>
        </tr>

        <tr>
            <td>
                <ol class="sortable high">
                    
                    @foreach (var item in Model.ToList())
                    {
                    <li id="@item.Id.ToString()">
                        <div class="hand"></div>
                        <div>@item.TlTransferAmount</div>
                    </li>                    
                    }
                </ol>
            </td>
        </tr>

    </table>
    }

</section>