@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="@PathHelper.UrlStatic/scripts/jquery/jquery.js" type="text/javascript"></script>

    @Html.Partial("GA")

    <title>TimeOut</title>

    <script>

        $(function () {

            var strTrackData = "";

            @{
                var ssoHeaders = System.Web.HttpContext.Current.Request.Headers;
                var headerMsisdn = ssoHeaders["TCELL-UID"] == null ? "NO_HEADER" : ssoHeaders["TCELL-UID"].ToString();                    
            }            

            strTrackData += 'Header: @headerMsisdn';
            strTrackData += 'CSILogin: @SessionManager.GetInstance().TurkcellSessionId';
            strTrackData += 'AppLogin: @SessionManager.GetInstance().IsSsoLogin.ToString()';

            GATracker('TimeOut > ' + strTrackData);

            top.location.href = "@ConfigManager.GetInstance().GetFb(ConfigManager.ConfigNameFb.Facebook_PageAppTabUrl)";
        });

    </script>

</head>
<body>
    <div>
        
    </div>
</body>
</html>
