<section id="bdayForm">
    <label class="smsTextbox">
        <textarea name="txtSmsMessage" class="validate[required] multiTextSmall" id="Message" maxlength="@ConfigManager.GetInstance().SmsCharLength" onkeyup="MaxCharacter('Message','charRemaining',@ConfigManager.GetInstance().SmsCharLength)" style="width:350px">@Html.Raw(ConfigManager.GetInstance().TemplateMsg_Birthday)</textarea>
    </label>
    <label class="birthdayInfo fIta">
        <span class="fLeft">
        Kalan karakter: <b class="f18" id="charRemaining">@ConfigManager.GetInstance().SmsCharLength</b>
        </span>
        <span class="fRight fBoldIta birthdayButton">
            <input type="submit" id="btnBirthdaySubmit" name="btnBirthdaySubmit" value="GÖNDER" style="float:right;" />
            <section id="BirthdayLoadingForm" class="fRight ajaxFormLoad displayNone">@Html.Action("LoadingSmall","Global")</section>
        </span>
    </label>
    <label class="birthdayInfo fIta">
        
        <a href="javascript:;" class="ttT" id="birthdayTooltipLink" title="<div class=birthdayTooltip>· Aynı gün içerisinde Turkcelllilere göndereceğiniz 1 kısa mesajdan sonraki 15 mesaj ücretsizdir.<br />· Aynı anda en fazla 50 adet ücretli SMS gönderebilirsiniz.<br />· Herhangi bir Turkcell kampanyasından kazanılan ücretsiz kısa mesajlar, Ekonomik Mesaj Paketleri ve konuşma dakikaları ile birlikte sms kullanım hakkı içeren paketlerdeki sms haklarınız Webmesaj ve Akıllı Mesaj kapsamında dahil değildir.</div>"> <img src="@PathHelper.UrlStatic/images/icons/info3.png" /></a>
        * Günlük mesaj hakkınızdan düşecektir.
    </label>

    <script>
        CharLength('Message', 'charRemaining', '@ConfigManager.GetInstance().SmsCharLength');
    </script>
</section>
<script>
    $(".ajax").colorbox();
    Tooltip();
    tooltipsy();
</script>